

<ion-content [fullscreen]="true">


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
 <ion-card class="card">
  <ion-button fill="clear" (click)="goBack()" style="margin-top: 10px;" >
    <ion-icon name="arrow-back" slot="start"></ion-icon>
    Volver
  </ion-button>
   <div id="container">
     <ion-img  id="logoapp"  src="/assets/img/logo3.PNG"></ion-img>
   </div>
   <ion-card-header>
     <ion-list>
       <ion-item lines="none">
         <ion-input label="Nombre de usuario:" label-placement="floating" fill="outline" placeholder="Ingrese su nombre de usuario" [(ngModel)]="nombreUser"></ion-input>
       </ion-item>
       <ion-text id="container">Ej:john.doe</ion-text>

       
       <div id="container">
         <ion-button color="secondary" (click)="recuperar()">Recuperar</ion-button>
       </div>
     </ion-list>

   </ion-card-header>
 </ion-card> 
</ion-content>
 
 