.card{
    border-radius: 60px;
    padding-top: 40px;
    
}
#logoapp{
    width: 200px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
   
    
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

ion-card{
    border-radius: 50px;
    box-shadow:0 10px 15px rgba(0, 0, 0, 0.2); ;
    width: 90%;
    position: relative;
    margin: 0 auto; /* Added */
        float: none; /* Added */
}
ion-item ion-input{
    border: 1px solid gray;
    
}
ion-item{
    margin-bottom: 20px;
}




