ion-img{
    width: 300px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
ion-content {
    --background: white;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    height: 100%;                
    padding: 0 20px;            
}
#logoapp{
    width: 150px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
   
    
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}